@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    
}

li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

body {
    background-color: white;
}

main {
    background-color: white;
    margin: 0.8% 15%;
    
}

html {
    scroll-behavior: smooth;
}
h1{
    text-align: center;
    font-size: 45px;
    color: black;
}
h2{
    text-align: center;
    font-size: 35px;
    font-family: Oswald;
    color: black;
    font-weight: 800;
}
h3{
    text-align: center;
    font-size: 25px;
    font-family: Merriweather;
    color: black;
    font-weight: 800;
}

p{
    color: black;
    font-size: 20px;
    font-family: Lato;
    text-align: center;
}
.tt{
    color: black;
    font-size: 20px;
    font-family: Lato;
    text-align: center;
}
.titulo{
    text-align: center;
    color: black;
}


#skills2{
    margin-left: 2px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    padding: 10px 50px;
    color: white;
   
}


.container .menu ul {
    display: flex;
    flex-flow: row wrap;
}

.container .menu ul li {
    margin-left: 30px;
}

.container .menu ul li:first-child {
    margin-left: 0px;
}

.container .menu .btn {
    padding: 5px 15px;
    background-color: white;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    transition: all 900ms ease;
    border-radius: 30px;
}

.container .menu .btn:hover {
    background-color: black;
    color: white;
    transition: all 900ms ease;
    width: 100%;
    height: 100%;
}


.titulo{
    text-align: center;
}
.titulo2{
    align-items: center;
    text-align: center;
}
.sobre {
    margin: 30px 100px;
    padding: 20px;
    background-color: azure;
}

.sobre .titulo {
    display: flex;
    align-items: center;
    margin: 5px;
}

.sobre .titulo img {
    width: 50px;
}

.sobre h1 {
    
    margin: 20px 20px 10px 10px;
}

.sobre p {
    margin-bottom: 50px;
}

.sobre #nomarg {
    margin: 0;
}

.sobre h4 {
    margin-bottom: 5px;
}

.sobre #skills {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-left: 30px;
}
.sobre #skills:last-child {
    margin-left: 0px;
}

.sobre #skills div {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.sobre #skills p {
    display: flex;
    align-items: flex-end;
    margin: 0px 50px 0px 5px;
}

.sobre #skills img {
    margin-right: 10px;
}

.my-hr {
    display: flex;
    align-items: center;
    margin: 30px;
}

.my-hr hr {
    flex: 1;

}
img{ 
  width: 280px;
  height: 250px;
  margin-bottom: 25px;
  justify-content: center;
  padding: 20px;
  object-fit: cover; 
}
img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    transition: 1s;
}
.img-tech{
    left:50%;
    top:50%;
    margin-left: 50px;
    margin-top:-40px;
}
.img-icon{
    width: 100%;
}
video{
    margin-top: 50px;
}
#skills{
    border: 1px solid black;
    margin-top: 20px;
    background-color: black;
}
.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 80px;
    
}

.contato #title {
    text-align: center;
    margin: 50px 0px 30px 0px;
}

.contato .contatos{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.contato .contatos img {
    margin: 5px;
}

.contato .contatos img:hover {
    opacity: 0.5;
}

footer p {
    padding: 10px;
    font-size: 1.3rem;
    text-align: center;
    border: 2px solid black;
}

.ico{
    margin-bottom: 15px;
    align-items: center;
    margin-left: 15px;
    padding: 0px;
}

.social-media{
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6em;
    margin: 20px 0;
    text-align: center;
    font-size: 25px;
}
i{
    width: 100%;
    height: 100%;
    font-size: 1.8em;
    color: black;
    text-align: center;
    cursor: pointer;
}
i:hover{
    width: 100%;
    height: 100%;
    font-size: 1.8em;
    color: black;
    text-align: center;
    cursor: pointer;
}
.describ{
    text-decoration: none;
    color: blue;
    cursor: pointer;

}
a{
    text-decoration: none;
    color: blue;
    
}


