/* ----- RESET ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    
}

li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

body {
    background-color: blue;
}

main {
    background-color: blue;
    margin: 0.8% 15%;
    border: 1px solid #3207f0;
}

html {
    scroll-behavior: smooth;
}
h1{
    text-align: center;
    font-size: 45px;
}
h2{
    text-align: center;
    font-size: 35px;
}
h3{
    text-align: center;
    font-size: 25px;
}

p{
    color: white;
    font-size: 20px;
    text-align: center;
}
.titulo{
    text-align: center;
    color: white;
}

/* ----- HEADER ----- */
#MarginTop {
    border-top: 5px solid #3207f0;
}
#MarginBot {
    border-top: 5px solid #3207f0;
}
#skills2{
    margin-left: 2px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    padding: 10px 50px;
    border: 5px solid #3207f0;
}

.container .logo img {
    width: 400px;
}

.container .menu ul {
    display: flex;
    flex-flow: row wrap;
}

.container .menu ul li {
    margin-left: 30px;
}

.container .menu ul li:first-child {
    margin-left: 0px;
}


/* ----- BOTAO ----- */
.container .menu .btn {
    padding: 5px 15px;
    background-color: blue;
    border: solid 2px #3207f0;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    transition: all 900ms ease;
    border-radius: 30px;
}

.container .menu .btn:hover {
    background-color: white;
    color: blue;
    transition: all 900ms ease;
    width: 100%;
    height: 100%;
    border: solid 2px rgb(43, 41, 41);
}



/* ----- SOBRE -----*/
.titulo{
    text-align: center;
}
.titulo2{
    align-items: center;
    text-align: center;
}
.sobre {
    margin: 30px 100px;
    padding: 20px;
    background-color: black;
    border: 1px solid blue;
}

.sobre .titulo {
    display: flex;
    align-items: center;
    margin: 5px;
}

.sobre .titulo img {
    width: 50px;
}

.sobre h1 {
    
    margin: 20px 20px 10px 10px;
}

.sobre p {
    margin-bottom: 50px;
}

.sobre #nomarg {
    margin: 0;
}

.sobre h4 {
    margin-bottom: 5px;
}

.sobre #skills {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-left: 30px;
}
.sobre #skills:last-child {
    margin-left: 0px;
}

.sobre #skills div {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.sobre #skills p {
    display: flex;
    align-items: flex-end;
    margin: 0px 50px 0px 5px;
}

.sobre #skills img {
    margin-right: 10px;
}

.my-hr {
    display: flex;
    align-items: center;
    margin: 30px;
}

.my-hr hr {
    flex: 1;

}
img{
    object-fit: cover;  
  width: 280px;
  height: 250px;
  margin-bottom: 25px;
  justify-content: center;
  padding: 20px;
}
img:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
    transition: 1s;
}
.img-tech{
    left:50%;
    top:50%;
    margin-left: 50px;
    margin-top:-40px;
}

/* ----- CONTATOS ----- */
.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 80px;
    
}

.contato #title {
    text-align: center;
    margin: 50px 0px 30px 0px;
}

.contato .contatos{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.contato .contatos img {
    margin: 5px;
}

.contato .contatos img:hover {
    opacity: 0.5;
}

/* ----- FOOTER ----- */
footer p {
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border: 5px solid #3207f0;
}

.ico{
    margin-bottom: 15px;
    align-items: center;
    margin-left: 15px;
    padding: 0px;
}

.social-media{
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6em;
    margin: 20px 0;
    text-align: center;
    font-size: 25px;
}
i{
    width: 100%;
    height: 100%;
    font-size: 1.8em;
    color: white;
    text-align: center;
    cursor: pointer;
}
i:hover{
    width: 100%;
    height: 100%;
    font-size: 1.8em;
    color: black;
    text-align: center;
    cursor: pointer;
}


