*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

h2{
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-content{
    min-width: 55%;
    height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 100%;
    color: white;
    gap: 1em;
}

.single-content h2{
    text-align: center;
    font-size: 2.4em;
    font-weight: 700;
    letter-spacing: 1px;
}

.single-content p{
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
    max-width: 500px;
}

.single-content button{
    width: 30%;
    min-height: 45px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 5px;
    background-color: #428af5;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

img{
    width: 65%;
}

.singin{
    min-width: 45%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    width: 60%;
    height: 45px;
    margin: 10px 0;
    padding-left: 70px;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    color: #ccc;
    letter-spacing: 1px;
}

input:focus{
    transition: all 0.30s;
    border: 1px solid black;
}

form button{
    width: 40%;
    height: 45px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 5px;
    background-color: blue;
    border: none;
    color: white;
    margin: 20px 0;
    cursor: pointer;
}

form button:hover{
    color: blue;
    background-color: white;
    transition:all 0.30s;
}

.singin h2{
    color: #ccc;
    font-size: 2.4em;
    font-weight: 700;
    letter-spacing: 0px;
}
.img-front{
    border-radius: 50%;
    margin-right: 0px;
    padding: 0;
}

.singin p{
    color: #ccc;
    font-size: 0.9em;
    text-align: center;
    font-weight: 600;
}

.text{
    background-image: url(../);
    background-repeat: no-repeat;
    background-position: 30px center;
    background-size: 24px;   
}

.senha{
    background-image: url(../);
    background-repeat: no-repeat;
    background-position: 30px center;
    background-size: 24px;   
}

.social-media{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6em;
    margin: 20px 0;
    text-align: center;
}

i{
    width: 100%;
    height: 100%;
    font-size: 1.8em;
    color: blue;
    text-align: center;
    cursor: pointer;
}

i:hover{
    color: white;
    transition: all 0.30s;
}


@media screen and (max-width: 900px){
    .container{
        flex-direction: column;
    }

    .single-content{
        width: 100%;
        padding: 100px 30px;
    }

    .singin{
        width: 100%;
    }
}

@media screen and (max-width: 590px){
    input{
        width: 84%;
    }
    
    .single-content{
        border-bottom-right-radius: 50%;
    }
    
    
}
